/*MOBILE*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
   }
  
   
   body > header {
    background-color: #627A14;
    padding: 1vh 1vw;
    height: 12vh;
    box-sizing: border-box;
   }
  
   .nav__h1 {
    color: #fff;
  }
  
   body > main {
    height: 85vh;
    width: 96vw;
   }
  
   
   body > footer {
    height: 5vh;
    background-color: #B3CB65;
   }
  
   
  .footer__text {
    padding-top: 1.5vh;
    font-size: small;
  }
  
  
  
   /*API Map*/
   #mapAPI {
    padding: 1vh 1vw;
  }
  
   #map {
    height: 50vh;
    width: 50vw;
  }
  
  
  
  
  /*DESKTOP*/
  @media (min-width: 992px) { 
    
    body {
      font-family: Arial, Helvetica, sans-serif;
      color: #222;
     }
    
     
     body > header {
      background-color: #16147a;
      padding: 1vh 1vw;
      height: 12vh;
      box-sizing: border-box;
     }
    
     .nav__h1 {
      color: #fff;
      
      
    }
    
     body > main {
      height: 85vh;
      width: 96vw;
     }
    
     
     body > footer {
      height: 5vh;
      background-color: #B3CB65;
     }
    
     
    .footer__text {
      padding-top: 1.5vh;
      font-size: small;
    }
    
    
    
     /*API Map*/
     #mapAPI {
      padding: 1vh 1vw;
    }
    
     #map {
      height: 50vh;
      width: 50vw;
  }
  
  }